body{
    background: #F4F4F4;
}

img{
    display: block;
    width: 100%;
}
.header-middle{
    padding: 15px 15px;
    }
.logo-end{
    padding: 30px 15px;
}
.main{
    padding: 50px 15px 70px;
}
.article{
    .image{
        position: relative;
    }
    .overlay{
        padding: 0 0 15px 5px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .overlay-white{
        position: absolute;
        bottom: 0;

    }
    span{
        padding: 7px 14px;
        color: #fff;
        border-radius: 5px;
    }
    .red{
        background: #ED4141;
    }
    .blue{
        background: #0077B5;
    }
    .green{
        background: #13C600;
    }
    .purple{
        background: #8A3AB9;
    }
}
.bottom-news{
    .blue{
        color: #0077B5;
    }
    .green{
        color: #13C600;
    }
    .red{
        color: #ED4141;
    }
}
.white-bg{
    margin: 50px 0 20px;
    padding: 30px 20px 20px;
    background: #fff;
}
.trending-news{
    padding: 15px;
    .slider{
        padding: 20px;
    }
}
@media screen and (min-width:600px){
    .center{
        margin: 0 auto;
        width: 520px;
    }
}
@media screen and (min-width:800px){
    .center{
        width: 700px;
    }
}
@media screen and (min-width:1000px){
    .center{
        width: 930px;
    }
}
@media screen and (min-width: 1200px){
    .center{
        width: 1150px;
    }
}


