body{
    background: #F4F4F4;
}

img{
    display: block;
    width: 100%;
}
.header-middle{
    padding: 15px 15px;
    }
.logo-end{
    padding: 30px 15px;
}
.main{
    padding: 50px 15px 70px;
}
.articles-news {
    h3, a{
        color: rgb(44, 42, 42);
        transition: all .3s ease-in-out;
    }
    a:hover{
        color: #ED4141;
    }
    h3 a:hover{
        color: #ED4141;
    }
}
a{
    color: rgb(44, 42, 42);
    transition: all .3s ease-in-out;
}
a:hover{
    color: #ED4141;
}
.article{
    .image{
        position: relative;
        img{
            border-radius: 10px;
        }
    }
    .overlay{
        padding: 5px 25px 25px 25px;
        position: absolute;
        bottom: 0;
        left: 0;
        h2{
            margin: 10px 0 0;
        }
        p{
            margin: 0;
        }
    }
    .overlay-white{
        position: absolute;
        bottom: 0;
        border-top-right-radius: 10px;
    }
    span{
        padding: 7px 14px;
        color: #fff;
        border-radius: 5px;
    }
    .red{
        background: #ED4141;
    }
    .blue{
        background: #0077B5;
    }
    .green{
        background: #13C600;
    }
    .purple{
        background: #8A3AB9;
    }
}
.bottom-news{
    .blue{
        color: #0077B5;
    }
    .green{
        color: #13C600;
    }
    .red{
        color: #ED4141;
    }
}
.white-bg{
    margin: 50px 0 20px;
    padding: 30px 20px 20px;
    background: #fff;
    border-radius: 10px;
}
.trending-news{
    padding: 15px;
    .slider{
        padding: 20px;
    }
}
.center{
    margin: 0 auto;
    width: 90%;
}
.category, .latest-news{
    .article-recent{
        display: none;
        padding: 0 61px;
    }
}
.mid-news, .profile-photo{
    .image{
        overflow: hidden;
        img{
            transform: scale(1.0);
            transition: all .5s ease-in-out ;
        }
    }
    .image:hover img{
        transform: scale(1.05);
    }
}
// PUB
.pub{
    cursor: pointer;
}
@media screen and (min-width:1000px){
    .category, .latest-news{
        .article-recent{
        display: block;
        }
    }
}
@media screen and (min-width: 1200px){
    .center{
        width: 1200px;
    }
}


