.header{
    // TOP 
    .header-top{
        height: 45px;
        display: none;
        background: #000;
        color: #fff;
        .header-top-flex{
            height: 100%;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .col-left{
            display: flex;
            .bolt{
                i{
                    color: #FF2143;
                    margin-right: 10px;
                }
            }
            .hidden{
                display: none;
            }
        }
    }
    // MIDDLE 
    .header-middle{
        display: flex;
        align-items: center;
        gap: 20px;
        .logo{
            display: none;
        }
    }
    // BOTTOM 
    .header-bottom{
        position: relative;
        z-index: 11;
        padding: 20px 0;
        background: #FF2143;
        .header-bottom-content{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .links{
            gap: 50px 20px 50px;
            background: #fff;
            height: 0;
            width: 100%;
            position: absolute;
            top: 67px;
            left: 0;
            right: 15px;
            z-index: 10;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 20px;
            transition: all .4s ease-in-out;
            .link{
                margin-left: 25px;
            }
        }
        .burger:hover .links{
            transition: all .4s ease-in-out .4s;
            height: 200px;
            display: flex;
        }
        .links-desktop{
            display: none;
            .link{
                text-transform: uppercase;
                padding: 0 25px;
                a{
                    color: #fff;
                }
            }
            .link:not(.link:last-child){
                border-right: 1px solid #fff;
                
                
                
            }
        }
    }
}
@media screen and (min-width: 600px){
    // TOP 
    .header-top{
        display: block !important;
    }
}
@media screen and (min-width:800px){
    // MIDDLE 
    .header-middle{
        .logo{
            width: 30%;
            display: block !important;
        }
    }
    // BOTTOM 
    .header-bottom{
        .links-desktop{
            display: flex !important;
        }
        .logo{
            display: none;
        }
        .burger-menu{
            display: none;
        }
    }
}
