.header{
    .header-top{
        display: none;
        background: #000;
        color: #fff;
        .header-top-flex{
            padding: 0 15px;
            
        }
        .col-left{
            display: flex;
        }
    }
    .header-middle{
        display: flex;
        .logo{
            display: none;
        }
    }
    .header-bottom{
        position: relative;
        z-index: 11;
        padding: 0 15px;
        background: #FF2143;
        .header-bottom-content{
            position: relative;
            height: 67px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .links{
            gap: 50px 20px 50px;
            background: #fff;
            height: 0;
            width: 100%;
            position: absolute;
            top: 67px;
            left: 0;
            right: 15px;
            z-index: 10;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 20px;
            transition: all .4s ease-in-out;
            
            .link{
                margin-left: 25px;
            }
        }
        .burger:hover .links{
            transition: all .4s ease-in-out .4s;
            height: 200px;
            display: flex;
        }
    }
}
@media screen and (min-width: 600px){
    .header-top{
        display: block;
        
    }
}