.about{
    .team-members, .top-services{
        span{
            color: #FF2143;
            margin-top: 0;
            position: relative;
            padding-left: 100px;
        }
        span::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            display: block;
            width: 70px;
            border-bottom: 2px solid #FF2143;
        }
    }
    .about-blank-area{
        margin: 0 auto;
        width: 90%;
        padding: 50px 0 100px;
        .mission, .our-vision{
            h4{
                position: relative;
                padding-left: 100px;
            }
            h4::before{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                display: block;
                width: 70px;
                border-bottom: 2px solid #FF2143;
            }
        }
    }
    .about-red-area{
        padding: 100px 50px;
        background: url('img/gallery/section_bg02.jpg');
    }
    .about-red-inner-area, .team{
        margin: 0 auto;
        width: 90%;
    }
    .about-red-inner-area{
        padding: 0 20px;
    }
    .top-services{
        padding: 40px 0 80px;
        button{
            margin-top: 25px;
            cursor: pointer;
            padding: 18px 45px;
            background: #000;
            color: #FF2143;
            transition: all .3s ease-in-out;
            text-transform: uppercase;
        }
        button:hover{
            color: #FF2143;
            background: #fff;
        }
    }
    .team{
        padding: 120px 20px 100px;
    }
    .team-members{
        display: none;
    }
    .profile-name{
        padding: 30px;
        background: #fff;
        span{
            color: #FF2143;
            margin-top: 0;
            position: relative;
            padding-left: 50px;
        }
        span::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            display: block;
            width: 30px;
            border-bottom: 2px solid #FF2143;
        }
    }
    @media screen and (min-width:800px){
        .about-red-inner-area, .team{
            width: 90%;
        }
        .about-red-inner-area{
            padding: 0 60px;
        }
        .team{
            padding: 120px 60px 100px;
        }
        .profile-photos-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
    }
    @media screen and (min-width:1000px){
        .about-blank-area{
            margin: 0;
            width: 70%;
        }
        .about-red-inner-area, .team{
            width: 90%;
        }
        .about-red-area{
            .about-red-inner-area{
                display: flex;
                gap: 30px;
                .top-services{
                    width: 50%;
                    button{
                        padding: 18px 45px;
                        background: #000;
                        border: 1px solid #FF2143;
                        color: #FF2143;
                        transition: all .3s ease-in-out;
                        text-transform: uppercase;
                    }
                    button:hover{
                        color: #FF2143;
                        background: #fff;
                    }
                }
                .about-red-inner-area>div{
                    flex: 1;
                }
            }
        }
        .profile-photos-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
    }
    @media screen and (min-width:1200px){
        .team-members{
            display: block;
        }
    }
}