// ARTICLE TRENDING 
.article-content{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,0) 100%);
}
.articles-trending{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
// NEWS
.articles-news{
    display: grid;
    grid-template-columns: 1fr;
    .top-news{
        grid-area: 1/1/2/3;
        .links{
            display: flex;
            gap: 20px;
        }
    }
    .mid-news{
        grid-area: 2/1/3/3;
        padding: 0 15px;
        margin: 40px 0;
        .image{
            overflow: hidden;
            img{
                transform: scale(1.0);
                transition: all .5s ease-in-out ;
            }
        }
        .image:hover img{
            transform: scale(1.05);
        }
    }
    .bottom-news{
        grid-area: 3/1/4/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .bottom-card{
            img{
            height: 104px;
            width: 124px;
            }
        }
    }
    .bottom-news-content{
        display: flex;
        flex-direction: column;
    }
}
// FOLLOW 
.follow-counter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    .follow-card{
        padding: 15px;
        display: flex;
        gap: 20px;
        border: 1px solid #F4F4F4;
        .follow-card-content{
            p{
                margin: 0;
            }
            span{
                display: block;
            }
        }
    }
}
// MOST RECENT 
.article-recent{
    display: grid;
    grid-template-columns: 1fr;
    .article{
        margin-bottom: 40px;
    }
    .flex-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .bottom-card{
        display: flex;
        flex-direction: row;
        gap: 20px;
            img{
            height: 80px;
            width: 85px;
            }
    }
}
// POPULAR 
.popular-pub{
    display: none;
}
.article-popular{
    .slider{
        .popular-card:nth-of-type(2), .popular-card:nth-of-type(3){
            display: none;
        }
    }
}
// TRENDING NEWS 
.trending-news{
    height: 500px;
    background: #fff;
    .flex-col{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .slider{
        .popular{
            display: flex;
            flex-direction: column;
        }
    }
    .trendings{
        width: 100%;
        .content{
            background: #fff;
            width: 80%;
        }
    }
    .trendings:nth-of-type(2), .trendings:nth-of-type(3){
        display: none;
    }
}
// PUB END 
.pub-end{
    padding: 0 15px;
    margin: 50px auto;
}

@media  screen and (min-width: 600px) {
    // ARTICLE TRENDING 
    .articles-trending{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        .article:nth-of-type(1){
            grid-area: 1/1/3/3;
        }
    }
}
@media screen and (min-width: 800px){
    .bottom-news{
        grid-template-columns: 1fr 1fr;
        .bottom-card{
            display: flex;
            gap: 20px;
        }
    }
    // POPULAR 
    .article-popular{
        .slider{
            display: flex;
            gap: 30px;
            .popular-card:nth-of-type(2){
                display: block;
            }
        }
    }
    // TRENDING NEWS 
    .trending-news{
        .slider{
            display: flex;
            justify-content: center;
            gap: 30px;
        }
        .trendings:nth-of-type(2){
            display: block;
        }
    }
}
@media screen and (min-width: 1000px){
    // ARTICLE TRENDING 
    .articles-trending{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        .article:nth-of-type(1){
            grid-area: 1/1/3/3;
        }
    }
    .grid-wrapper-center{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .grid-col-01{
        grid-area: 1/1/3/3;
    }
    // POPULAR 
    .flex-wrapper-popular{
        display: flex;
        gap: 30px;
        .popular-pub{
            margin: 50px 0 20px;
            display: block;
        }
    }
    
    // TRENDING NEWS
    .trending-news{
        .trendings:nth-of-type(3){
            display: block;
        }
    }
}
@media screen and (min-width: 1200px){
    // NEWS
.articles-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .top-news{
        grid-area: 1/1/2/3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .links{
            display: flex;
            gap: 20px;
        }
    }
    .mid-news{
        grid-area: 2/1/3/2;
        padding: 0 15px;
        margin: 40px 0;
        .image{
            overflow: hidden;
            img{
                transform: scale(1.0);
                transition: all .5s ease-in-out ;
            }
        }
        .image:hover img{
            transform: scale(1.05);
        }
    }
    .bottom-news{
        grid-area: 2/2/3/3;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        .bottom-card{
            img{
            height: 104px;
            width: 124px;
            }
        }
    }
}
// POPULAR 
.popular-card:nth-of-type(3){
    display: block !important;
}
}